* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center; /* Eixo X */
  align-items: center; /* Eixo Y */
  height: 100vh; /* 100% da altura da tela */
}

main {
  background-color: #44445c;
  color: #ffffff;
  width: 25vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 0;
  background-color: #ffffff;
}
